body {
    background-color:whitesmoke;
    font-family: monospace

}
/* -------------------------------------------------------------- */
.title {
    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:50px;
    display: flexbox;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 50px;
    box-shadow:  5px 5px 10px rgb(138, 137, 137)  ;
    border-radius: 10px;
    background-color: white;
    
    
    
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 30px; /* Adjust the font size for smaller screens */
    }
}



.icon2 {
    position: absolute; /* Position icons relative to the title div */
    top: 50px; /* Adjust the top value as needed */
    right: 50px; /* Adjust the left value as needed */
    height: 70px;

}
/* -------------------------------------------------------------------- */

.form {
    /* border: solid black 2px; */
    display: flexbox;
    float: left;
    width: 500px;
    height: 620px;
    margin: auto;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding: 30px;
    padding-bottom: 40px;
    box-shadow:  5px 5px 15px rgb(0, 0, 0)  ;
    border-radius: 10px;
    background-color: white;
    height: auto;
    font-family: monospace;
    font-size: 15px;

}




.form h2 {
    left: 90px;
    text-align: center;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    
}

.form input {
    border: solid black 0.5px;
    margin-top: 10px;
    width: 460px;
    font-size: medium;
    height: 20%;
    margin: auto ;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(27, 121, 188);
}


textarea {
    border: solid black 0.5px;
    resize: none;
    width: 460px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgb(27, 121, 188);
    
}


button {
    margin-top: 10px;
    float: right;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 50px;
    width: 150px;
    transition: background-color 0.5s;
    cursor: pointer;

}

button:hover {
    background-color: rgb(0, 149, 255);
    color: white;
    box-shadow:  2px 2px 2px rgb(0, 0, 0)  ;
    
}

#autoFill {
    flex-wrap: wrap;
    margin-left: 200px;
    text-align: center;
    float: left;
    cursor: pointer;

}
#autoFill:hover {
    background-color: rgb(0, 255, 17);
    color: rgb(0, 0, 0);
    box-shadow:  2px 2px 2px rgb(0, 0, 0)  ;
}


#del:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow:  2px 2px 2px rgb(0, 0, 0)  ;
}
/* --------------------------------------------------------------------------------------------- */
.recipesTitle {
    text-align: center;
    

}
.recipeContainer {
    float: right;
    height: 620px;
    height: auto;
    width: 25%; 
    padding: 20px;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow:  5px 5px 15px rgb(0, 0, 0)  ;
    border-radius: 10px;
    background-color: white;
    word-wrap: break-word;
}

.recipeContainer div {

    margin-top: 20px;
}

.foodImg {
    height: 120px;
    position: relative;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-radius: 5px;
}

.recipeContainer ul {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.borderDiv {
    border: solid black 1px;
    width: 100%;
    height: 0;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);


}

